<!-- src/app/components/battle-arena/battle-arena.component.html -->
<div class="battle-arena">
  <!-- Colonna sinistra: Guerriero -->
  <div class="column character" id="left-column">
    <app-personaggio
      [data]="personaggio1"
      (moveSelected)="onMoveSelected($event, 'personaggio1')">
    </app-personaggio>
  </div>

  <!-- Colonna centrale: Log della battaglia -->
  <div class="column log" id="center-column">
    <app-battle-log [log]="log"></app-battle-log>
  </div>

  <!-- Colonna destra: Assassino -->
  <div class="column character" id="right-column">
    <app-personaggio
      [data]="personaggio2"
      (moveSelected)="onMoveSelected($event, 'personaggio2')">
    </app-personaggio>
  </div>
</div>

